<head>
  <meta charset="utf-8">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="shortcut icon" href="{{ site.media_folder }}/{{ site.favicon }}">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/styles/main.css">
  <link href="//cloud.webtype.com/css/91c6697f-d1f8-4e5e-815e-96f5e7970857.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">

  <meta name="twitter:site" content="@{{ page.author }}">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:description" content="{{ page.content | strip_html | truncatewords: 25 }}">
  {% if page.picture %}
  <meta name="twitter:card"  content="summary_large_image">
  <meta name="twitter:image" content="{{ site.url }}{{ page.picture }}">
  {% endif %}
</head>
