<div class="toc-wrapper">
  <nav class="toc">
  <div class="toggle-nav">
    <div id="nav-wrapper">
      <h4 id="hamburger">
        <span id="hamburg-icon">&#9776;</span>
        <span>Table of Contents</span>
      </h4>
      <ul id="nav-items">
        {% for item in site.data.docs_toc %}
          <li>
            <a {% if page.title == item.title %}class="active"{% endif %} href="/docs/{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
</div>
