/** Fonts **/
$main-font: 'Alright Sans LTV', 'Alright Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$med-font: 'Alright Sans LTV Medium', 'Aliright Sans Medium', Helvetica, Arial, sans-serif;
$light-font: 'Alright Sans LTV Light', 'Alright Sans Light', Helvetica, Arial, sans-serif;
$code-font:  'Source Code Pro', Courier New, monospace;

/** Colors **/
$black: #000000;
$white: #ffffff;
$dark-gray: #444444;
$bg-gray: #ededed;


/** Media query breakpoints **/
$lg-device: 1200px;
$md-device: 992px;
$sm-device: 768px;
$mobile: 480px;
