---
layout: base
---
<article class="blog-post">
  <div class="post-header">
    <div class="post-title"><h3>{{ page.title }}</h3></div>
    <span class="date">{{ page.date | date: '%b %d, %Y' }}</span>
    {% if page.author %}{% assign the_author = site.data.authors | where: 'id', page.author %}
      {% for author in the_author %}| <span class="author">By:
        <a href="https://twitter.com/{{ author.id }}">{{ author.name }}</a>
      </span>{% endfor %}
    {% endif %}
  </div>

  {% if page.picture %}
  <div class="post-header-image">
    <img src="{{ page.picture }}">
  </div>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>
  {% if page.tags.size > 0 %}
    <p>Tag{% if page.tags.size > 1 %}s{% endif %}: {{ page.tags | sort | join: ", " }}</p>
  {% endif %}
</article>
